.header {
  min-height: 73px;
  width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  border-bottom: 1px solid #545454b3;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 581px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    width: 320px;
    padding-top: 28px;
    min-height: 56px;
  }
}
